.menu-lateral {
    display: flex;
    background-color: #15191C;
    height: 100vh;
    flex-direction: column;
    width: 200px;

    position: absolute;
    left: -100vw;
    transition: .25s;
}

@media screen and (min-width:820px) {
    .menu-lateral {
        position: static;
        grid-column: 1;
        grid-row: 1 / span 2;
    }
}