.mapa-picos{
    width: 50%;
}

@media screen and (min-width: 820px) {
    .conteudo-picos {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: 
            "titulo-pagina titulo-pagina titulo-pagina"
            "mapa-picos mapa-picos picos-favoritos"
            "secao-picos secao-picos secao-picos"
        ;
        column-gap: 32px;
        padding: 16px 60px;
        grid-column: 2;
    }

    .titulo-pagina {
        grid-area: titulo-pagina;
    }

    .mapa-picos {
        grid-area: mapa-picos;
    }
    
    .cartao--recentes {
        grid-area: picos-favoritos;
    }
    
    .secao-picos {
        grid-area: secao-picos;
    }
}
