.cartao__botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0480DC;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 0.9rem;
    justify-self: flex-end;
}

.cartao__botao--play::before {
    content: "\e90b";
    font-size: 24px;
}

.cartao__botao--produto::before {
    content: "\e901";
    font-size: 24px;
}

.cartao__botao--destaque {
    width: 100%;
    grid-column: 2;
}

.cartao__botao--destaque::before {
    margin-right: 8px;
}

@media screen and (min-width: 1440px) {
    .cartao__botao--destaque {
        grid-column: auto;
        padding: 16px 8px;
    }
}