@media screen and (min-width: 820px) {
    .cartao__item {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 8px;
    }
    
    .cartao__item-thumbnail {
        width: 32px;
        grid-row: span 2;
    }
    
    .cartao__item-titulo {
        font-size: .9rem;
        line-height: 1.2rem;
        font-weight: 700;
    }
    
    .cartao__item-perfil {
        font-size: 0.8rem;
        color: #95999C;
    }
}